<html>
    <head>
        <title>Eleventy Blog example</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <h1>Eleventy Blog example</h1>
        {{ content | safe }}
    </body>
</html>
